<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BiAssure.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
				<key>dateExpires</key>
				<string>08/06/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CarbonKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Colours.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KSToastView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>LGSideMenuController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RMActionController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RMPickerViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SSMaterialCalendarPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TAKUUID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDD135F258E338E8D45D52F811F54BD8FDE320B7</string>
						<key>dateExpires</key>
						<string>08/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MR2GEYTM6Y</string>
						<key>name</key>
						<string>Mohit Agarwal</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MR2GEYTM6Y.Techfour.BiAssure</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MR2GEYTM6Y</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>MR2GEYTM6Y.Techfour.BiAssure</string>
				</array>
			</dict>
			<key>name</key>
			<string>BiAssure.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>533f91dc-dd42-438d-ba65-af1f13b1f811</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MR2GEYTM6Y</string>
				<key>name</key>
				<string>Mohit Agarwal</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
